version: 2
jobs:
  build:
    docker:
      - image: samueldebruyn/debian-git
    environment:
      EVM_EMACS: "emacs-24.4-travis"
    steps:
      - checkout
      - run:
          name: Greeting
          command: echo Hello, world.
      - run:
          name: Install Ruby
          command: apt-get update && apt-get install -y ruby
      - run:
          name: checkout Emacs
          command: git clone https://github.com/rejeep/evm.git $HOME/.evm
      - run:
          name: Config env path
          command: $HOME/.evm/bin/evm config path /tmp
      - run:
          name: Install Emacs
          command: $HOME/.evm/bin/evm install $EVM_EMACS --use --skip
      - run:
          name: Run test suite
          command: emacs -batch -l do_not_delete.el -l test-suite.el -f ert-run-tests-batch-and-exit
