version: 2
jobs:
  build:
    docker:
      - image: samueldebruyn/debian-git
    environment:
      EVM_EMACS: "emacs-24.4-travis"
      EMACS: /tmp/$EVM_EMACS/bin/emacs
      LOAD: "-l do_not_delete.el -l test-suite.el"
      EVM: $HOME/.evm/bin/evm
    steps:
      - checkout
      - run:
          name: Install Ruby
          command: apt-get update && apt-get install -y ruby
      - run:
          name: checkout Emacs
          command: git clone https://github.com/rejeep/evm.git $HOME/.evm
      - run:
          name: Config Emacs
          command: $HOME/.evm/bin/evm config path /tmp
      - run:
          name: Show EVM path
          command: ls -ltr $EVM
      - run:
          name: Install Emacs
          command: $EVM config path /tmp && $EVM install $EVM_EMACS --use --skip
      - run:
          name: Run test suite
          command: $EMACS -batch $LOAD -f ert-run-tests-batch-and-exit
